@keyframes shake {
    0% {transform: translateX(0);}
    25% {transform: translateX(-5px);}
    50% {transform: translateX(5px);}
    75% {transform: translateX(-5px);}
    100% {transform: translateX(0);}
}
.error-shake {
    animation: shake 0.4s ease-in-out;
    border: 2px solid #ff4d4d !important;
    background-color: #fff0f0;
}

h2 {
    color: white;
}

.form-input {
    background: rgba(255,255,255,0.6);
    border: 1px solid #ccc;
}

.small-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.0rem;
    color: #333;
    padding: 5 10px;
    transition: transform 0.2s;
}

.small-btn:hover {
    transform: scale(1.2);
}

.preview-wrapper:hover .delete-photo-btn {
    display: block;
}

.delete-photo-btn {
    position: absolute;
    top: -8px;
    right: -8px;
    background: #d00b9c;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    z-index: 2;
}

.album-form {
    background: rgba(230, 210, 230, 0.8);
    padding: 20px;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    overflow: auto;
    min-height: 100px;
}

.star.filled {
    color: #ffd700;
}

.star {
    color: #ccc;
    margin-right: 5px;
    transition: color 0.2s;
}

.form-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.form-column {
    flex: 1;
    min-width: 300px;
}

.form-column label {
    margin-top: 20px;
    display: block;
}

.form-column input {
    max-height: 20px;
}

.list-item-input {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .album-form {
        margin: 10px;
        padding: 15px;
    }

    .form-grid {
        gap: 10px;
    }

    .form-column {
        min-width: 100%;
    }

    h2 {
        text-align: center;
        font-size: 1.5rem;
    }
}